services:
  - type: web
    name: encrypted-video-live
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    envVars:
      - key: PORT
        value: "3000"
      - key: JWT_SECRET
        sync: false
      - key: ADMIN_KEY
        sync: false
